<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>添加客户端</title>
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.css" th:href="@{/webjars/bootstrap/css/bootstrap.css}" />
</head>

<body>

<div style="width:400px;height:100%;margin-left:450px;margin-top:100px;">
    <form id="clientForm">
        应用名称<span style="color: red">*</span>：<span id="clientTip"></span><input class="form-control"  type="text" name="clientId" oninput="checkClientId(this)" placeholder="请输入英文" autocomplete="off"><br>
        回调应用地址<span style="color: red">*</span>：<input class="form-control" type="text" name="redirectUriSimple" placeholder="多个以英文逗号分割" autocomplete="off"><br>
        描 述：<input class="form-control" type="text"  name="description" autocomplete="off"><br>
        <!--<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">-->
        <button class="btn btn-primary btn-lg btn-block" type="button" onclick="submitForm()">保存</button>
    </form>
</div>
<script src="/webjars/jquery/jquery.min.js" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script>
    function submitForm() {
        const param = {};
        $($('#clientForm').serializeArray()).each(function () {
            console.debug(this);
            param[this.name] = this.value;
        });

        console.info(param);
        $.ajax({
            type: "POST",
            url: "/oauth2registeredclient/save",
            data: JSON.stringify(param),
            async: false,
            dataType: "json",
            contentType: "application/json",
            error: function (request) {
                alert("保存失败");
            },
            success: function (data) {
                console.info(data);
                alert(data.retMsg);
                if (data.retCode === 2000) {
                    location.href = "/oauth2registeredclient/page"
                }
            }
        });
    }

    function checkClientId(obj) {
        const clientId = $(obj).val();
        console.debug(clientId);

        if (!clientId) {
            $("#clientTip").text("");
            return;
        }

        $.ajax({
            type: "GET",
            url: "/oauth2registeredclient/checkClientId?clientId=" + clientId,
            success: function (data) {
                // do something
                console.debug(data);
                if (data.retCode === 2000) {
                    $("#clientTip").text(data.retMsg).css("color", "green");
                } else {
                    $("#clientTip").text(data.retMsg).css("color", "red");
                }
            }
        })
    }
</script>
</body>
</html>


