<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>OAuth client</title>
    <!-- 引入 Bootstrap -->
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.css" th:href="@{/webjars/bootstrap/css/bootstrap.css}" />

</head>

<style>
    a{
        color: #ffffff;
    }
    h1{
        /*文字对齐*/
        text-align: center;
    }
</style>

<body>

<div class="container">
    <button class="btn btn-success pull-right"><a th:href="@{'/oauth2registeredclient/toSave'}">添加应用</a></button>
    <h1>OAuth client</h1>
    <!--table-striped:斑马线格式，table-bordered：带边框的表格，table-hover：鼠标悬停高亮的表格-->
    <table class="table table-striped table-bordered table-hover text-center">
        <thead>
        <tr style="text-align:center">
            <!--        th标签定义html表格中的表头单元格-->
            <th style="text-align:center">序号</th>
            <th style="text-align:center">应用名称</th>
            <th style="text-align:center">应用描述</th>
            <th style="text-align:center">秘钥</th>
            <th style="text-align:center">回调应用地址</th>
            <th style="text-align:center">操作</th>
        </tr>
        </thead>
        <!--tr标签定义html表格中的所有行-->
        <!--    遍历集合，如果被遍历的变量users为null或者不存在，则不会进行遍历，也不会报错-->
        <tr th:each="client:${page.records}">
            <!--        td标签定义html表格中的标准单元格-->
            <td style="vertical-align: middle!important;" th:text="${clientStat.index + 1}"></td>
            <td style="vertical-align: middle!important;" th:text="${client.clientId}"></td>
            <td style="vertical-align: middle!important;" th:text="${client.description}"></td>
            <td style="vertical-align: middle!important;" th:text="${client.clientSecret}"></td>
            <td style="vertical-align: middle!important;" th:text="${client.redirectUriSimple}"></td>
            <td>
                <!--         a标签用来定义超链接 href表示超链接-->
                <a class="btn btn-primary" th:href="@{'/oauth2registeredclient/toUpdate/'+${client.id}}">更改</a>
                <a class="btn btn-danger" href="javascript:void(0)" th:onclick="delClient([[${client.id}]], this)">删除</a>
            </td>
        </tr>
    </table>

    <!-- 显示分页信息 -->
    <div class="row">
        <!--分页文字信息  -->
        <div class="col-md-6" >当前 [[${page.current}]]页,总[[${page.pages }]]
            页,总[[ ${page.total }]] 条记录</div>
        <!-- 分页条信息 -->
        <div class="col-md-6">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <!--点击首页会跳转到第一页，并且首页禁用-->
                    <th:block th:if="${page.current==1}">
                        <li class="active,disabled">
                            <a>首页</a></li>
                    </th:block>

                    <th:block th:if="${page.current>1}">
                        <li><a th:href="@{/oauth2registeredclient/page(current=1)}">首页</a></li>
                    </th:block>

                    <!--上一页-->
                    <li  th:if="${page.hasPrevious()}">
                        <a  th:href="@{/oauth2registeredclient/page(current=${page.getCurrent()-1})}">
                            <span aria-hidden="true">&laquo;</span>

                        </a>
                    </li>

                    <!--遍历页码，只显示五页-->
                    <th:block th:each="i:${#numbers.sequence(((page.current - 2) > 1 ? (page.current - 2) : 1),
                            ((page.current + 2) < page.pages ? (page.current + 2) : page.pages))}">
                        <!--当前页高亮，并且取消超链接，避免重复加载-->
                        <th:block th:if="${page.current == i}">
                            <li class="active">
                                <a id="currentPage" th:text="${i}"/>
                            </li>
                        </th:block>

                        <th:block th:if="${page.current != i}">
                            <li>
                                <a th:text="${i}" th:href="@{/oauth2registeredclient/page(current=${i})}"/>
                            </li>
                        </th:block>
                    </th:block>

                    <!--下一页-->
                    <li  th:if="${page.hasNext()}">
                        <a  th:href="@{/oauth2registeredclient/page(current=${page.current+1})}">
                            <span aria-hidden="true">&raquo;</span>
                        </a></li>


                    <!--点击末页会跳转到最后一页，并且最后一页禁用-->
                    <th:block th:if="${page.current<page.pages}">
                        <li > <a th:href="@{/oauth2registeredclient/page(current=${page.pages})}">末页</a></li>

                    </th:block>

                    <th:block th:if="${page.current==page.pages}">
                        <li class="active,disabled"> <a>末页</a></li>

                    </th:block>


                </ul>
            </nav>
        </div>
    </div>
</div>
<a id="ctx" style="display: none" th:href="@{/}"></a>
<script src="/webjars/jquery/jquery.min.js" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script>
    var ctx = $('#ctx').attr("href");
    console.log("ctx = ", ctx);

    function delClient(id, obj) {
        var clientId = $($(obj).parent().parent().children("td")[1]).text();
        console.info(clientId);
        if (!confirm("确定删除[" + clientId + "]？")) {
            return;
        }

        const currentPage = $('#currentPage').text();
        console.info(currentPage);
        $.ajax({
            type: "GET",
            url: ctx + "oauth2registeredclient/delete?id=" + id,
            async: false,
            error: function () {
                alert("删除失败");
            },
            success: function (data) {
                alert(data.fixedMsg);
                location.href = ctx + "oauth2registeredclient/page?current=" + currentPage;
            }
        });
    }
</script>
</body>

</html>





