<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Spring Security Example</title>
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.css" th:href="@{/webjars/bootstrap/css/bootstrap.css}" />
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous"/>
    <style>
        #num{
            width: 80%;
            display: inline;
        }
    </style>
</head>
<body>
<div class="container">
    <form id="usernameForm" class="form-signin" method="post" th:action="@{/login}">
        <div th:if="${param.error}" class="alert alert-danger" role="alert">
            Invalid username or password.
        </div>
        <div th:if="${param.logout}" class="alert alert-success" role="alert">
            You have been logged out.
        </div>
        <h2 class="form-signin-heading">Sign In</h2>
        <p>
            <label for="username" class="sr-only">Username</label>
            <input type="text" id="username" name="username" class="form-control" placeholder="Username" required autofocus>
        </p>
        <p>
            <label for="password" class="sr-only">Password</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
        </p>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <!--<a class="btn btn-light btn-block bg-white" href="/oauth2/authorization/google-idp" role="link" style="text-transform: none;">
            <img width="20" style="margin-right: 5px;" alt="Sign in with Google" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
            Sign in with Google
        </a>-->
        <a class="btn btn-light btn-block bg-info" th:href="@{/oauth2/authorization/github-idp}" role="link" style="text-transform: none;">
            <img width="24" style="margin-right: 5px;" alt="Sign in with GitHub" src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" />
            Sign in with Github
        </a>
        <a loginType="username" class="btn btn-light btn-block bg-info" href="javascript:void(0);" onclick="changeLoginType(this)" role="link" style="text-transform: none;">
            手机号登录
        </a>
    </form>
    <form id="phoneForm" class="form-signin" method="post" th:action="@{/phone/login}" style="display: none">
        <!--这里有个坑：从url获取的参数，带有空格-->
        <div th:if="${#strings.trim(param.error)} == 'EXPIRE'" class="alert alert-danger" role="alert">
            验证码已过期，请重新发送验证码
        </div>
        <div th:if="${#strings.trim(param.error)} eq 'INVALID'" class="alert alert-danger" role="alert">
            验证码不正确
        </div>
        <div th:if="${#strings.trim(param.error)} eq 'USER_NOT_EXIST'" class="alert alert-danger" role="alert">
            用户不存在，请注册
        </div>
        <div th:if="${param.logout}" class="alert alert-success" role="alert">
            You have been logged out.
        </div>
        <h2 class="form-signin-heading">Sign In</h2>
        <p>
            <label for="phone" class="sr-only">Phone</label>
            <input type="text" id="phone" name="phone" class="form-control" placeholder="Phone" required autofocus>
        </p>
        <p>
            <label for="num" class="sr-only">Password</label>
            <input type="text" id="num" name="num" class="form-control" placeholder="Verification code" required autocomplete="off">
            <button class="btn btn-default" type="button" id="sendBtn" onclick="sendVerificationCode()">发送</button>
        </p>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <a class="btn btn-light btn-block bg-info" th:href="@{/oauth2/authorization/github-idp}" role="link" style="text-transform: none;">
            <img width="24" style="margin-right: 5px;" alt="Sign in with GitHub" src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" />
            Sign in with Github
        </a>
        <a loginType="phone" class="btn btn-light btn-block bg-info" href="javascript:void(0);" onclick="changeLoginType(this)" role="link" style="text-transform: none;">
            用户名密码登录
        </a>
    </form>
</div>
<a id="ctx" style="display: none" th:href="@{/}"></a>

<script src="/webjars/jquery/jquery.min.js" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script>
    const ctx = $('#ctx').attr("href");
    console.log("ctx = ", ctx);

    // 返回参数map
    function getParameterMap() {
        let parameters = window.location.search;
        let map = new Map;
        // 如果没有参数
        if (parameters.indexOf("?") === -1) return map;
        let strs = parameters.substr(1).split("&");
        for (let i = 0; i < strs.length; i++) {
            let str = strs[i].split("=");
            map.set(str[0], str[1]);
        }

        return map;
    }

    function changeLoginType(obj) {
        const loginType = $(obj).attr("loginType");
        if ("username" === loginType) {
            console.debug("切换到手机号登录");
            $('#phoneForm').css("display", "");
            $('#usernameForm').css("display", "none");
        } else {
            console.debug("切换到用户名密码登录");
            $('#phoneForm').css("display", "none");
            $('#usernameForm').css("display", "");
        }
    }

    function sendVerificationCode() {
        const phone = $('#phone').val();
        const regex = /^1[3456789]\d{9}$/;
        if (!regex.test(phone)) {
            alert("请输入有效的手机号");
            return;
        }

        // 禁用发送按钮一分钟
        $('#sendBtn').attr("disabled", "disabled");

        $.ajax({
            type: "GET",
            url: ctx + "phone/code?phoneNumber=" + phone,
            error: function () {
                alert("登录已过期");
                window.location.reload();
            },
            success: function (resp) {
                if (resp.fixedCode !== 200) {
                    alert(resp.fixedMsg);
                    $('#sendBtn').removeAttr("disabled");
                    return;
                }

                let count = 60;
                const timer = setInterval(function () {
                    count--;
                    $('#sendBtn').text(count + "s");
                    if (count <= 0) {
                        clearInterval(timer);
                        $('#sendBtn').text("发送");
                        $('#sendBtn').removeAttr("disabled");
                    }
                }, 1000);
            }
        })
    }
</script>
<script>
    $(function () {
        const loginType = getParameterMap().get("loginType");
        console.debug("loginType: " + loginType)
        if ('phone' === loginType) {
            $('a[loginType="username"]').click();
        }
    })
</script>
</body>
</html>